.first-color { 
	background: #f0ece2; 
}
	
.second-color { 
	background: #dfd3c3; 
}

.third-color { 
	background: #c7b198; 
}

.fourth-color { 
	background: #596e79; 
}

.fifth-color {
    background: #f8f9fa;
}

.background {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.green-box {
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 80%;
    bottom: 10%;
    box-shadow: 8px 8px 16px 0px #888888;
    margin: 0%;
    padding: 0%;
}

.left-hand {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:#f0ece2;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0%;
}

.right-hand {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    background-color:#f8f9fa;
    align-items: center;
    justify-content: center;   
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.buttons-cv {
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    text-align: center;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.profile-pic {
    border-radius: 50%; 
    box-shadow: 8px 8px 16px 0px #888888; 
    margin-top: 20px;
    height: 300px;
}

.background-sections {
    display: flex;
    height: 100%;
    width: 100%;
}

.greetings {
    font-size: 4rem;
    font-weight: bolder; 
    text-shadow: 8px 8px 16px 0px #888888;
    margin-bottom: 0;
}

.semi-greetings {
    font-size: 3rem;
    font-weight: bolder; 
    text-shadow: 8px 8px 16px 0px black;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 2rem;
}

.normal-text{
    font-size: 1.2rem;
}

.buttons.container {
    display: flex; /* Default layout is flexbox */
    flex-direction: row; /* Align buttons in a row by default */
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add spacing between buttons */
}

.blue-line {
    background-color: #0d6efd; 
    height: 5px; 
    width: 200px; 
    margin-bottom: 30px;
}

.page {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 80px;
    gap: 20px;
    background-color: #dfd3c3;
}

.icon {
    height: 40px;
}

.rectangle {
    width: 800px; /* Fixed width */
    height: 350px; /* Fixed height */
    background-color: #f8f9fa;
    color: #333; /* Dark text */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for aesthetics */
    font-size: 1.2rem; /* Fixed text size */
    padding-top: 15px;
    gap: 20px;
}

.left-rectangle {
    padding-left: 5%;
    width: 30%;
    text-align: right;
    font-weight: bold;
    color: #0d6efd;
    font-size: 1.3rem;
}

.right-rectangle {
    padding-left: 5%;
    text-align: left;
    width: 70%;
    padding-right: 5%;
    font-size: 1.2rem;
}

.full-rectangle {
    padding-left: 5%;
    text-align: center;
    width: 100%;
    padding-right: 5%;
    font-size: 1.2rem;
}


/* Custom styles for green-box */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .green-box .left-hand,
    .green-box .right-hand {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .green-box {
        height: 100%;
        top: 2%;
        bottom: 2%;
        justify-content: center;
    }
    .profile-pic {
        height: 200px;
    }
    .greetings {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .normal-text {
        font-size: 1rem;
    }
    .buttons.container {
        flex-direction: column; /* Switch to column layout for screens 768px or smaller */
        align-items: center; /* Optional: Center-align the buttons */
        gap: 2px; /* Adjust spacing between buttons */
    }
    .blue-line {
        width: 100px; 
        margin-bottom: 15px;
        margin-top: 0%;
        padding-top: 0%;
        z-index: 100;
    }
    .semi-greetings {
        font-size: 2.5rem;
    }
    .icon {
        height: 30px;
    }
    .rectangle {
        width: 380px; /* Fixed width */
        height: auto;
        flex-direction: column;
        justify-content: center;
        gap: 0;
   }
   .left-rectangle {
      width: 100%;
      text-align: center;
      padding-right: 5%;
      padding-left: 5%;
      font-size: 1.1rem;
   }
   .right-rectangle {
      width: 100%;
      text-align: center;
      padding-right: 5%;
      padding-left: 5%;
      font-size: 1rem;
   }
   .full-rectangle {
    font-size: 1rem;
 }
}
